<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta  charset="utf-8">  
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
        <title>Travel Planner</title>
    </head>

    <body>
        <div class="wrapper">
            <header  class="main-head">
                <span class="tittle">Travel Planner</span>
            </header>
            <nav class="main-nav"> 
                <span class="strongText">My trips </span>  
                <a id="addTrip" class="optionsButton"  onclick="Client.scrollTo('saveTrip')">
                    <div class="plus icon"></div>
                     <span class="iconSpan">add trip</span> 
                </a>
            </div>

            </nav>
            <main class="content"> </main>
            <div class="splite"></div>
            <footer class="main-footer">
                <div class="footerOptions">
                    <div class="grid-item"><label for="city">My trip to :</label></div>
                    <div class="grid-item">
                        <input list="country" id="countryList" name="country"  onchange="Client.countrySelected(this)"  placeholder="Enter country" />
                        <datalist id="country" ></datalist>
                        <input list="city" id="cityList"  name="city" onkeyup="Client.validateCity()"  onchange="Client.citySelected(this)"  placeholder="Enter city" />
                        <datalist id="city" ></datalist>
                        <label id="msjErrorCity" class="divError"></label>
                    </div>
                    <div class="grid-item"><label for="departing">Departing :</label></div>  
                    <div class="grid-item">
                        <input type="date" id="departing" name="departing" value=""   min="2022-07-28" max="2030-12-31"  
                        onchange="Client.handlerDate(event)" >
                    </div>
                    <div class="grid-item"> 
                        <input type="button" id="saveTrip" class="greenButton" onclick="Client.saveTrip()" value="Save Trip"></div>
                    <div class="grid-item"> 
                        <input type="button" class="greenButton" onclick="Client.removeTrip()" value="Remove Trip">
                        <div class="msjResult">
                            <label id="msjResult"></label>
                        </div>
                    </div>  

                </div>
               
            </footer>
        </div>

        <template id="template-card">
            <div class="nestedGrid">
                <div class="imgCity">
                    <img id="img1" src='' alt="Avatar" class="photoBox">
                </div>
                <div class="dataTrip">
                    <h4 class="subTitle">My trip to: Paris,France</h4> 
                    <h4 class="subTitle">Departing: 02/12/2222</h4> 
                    <div class="flightInfo">
                        <span class="strongText">
                            Flight info 
                        </span>
                        <p> lorem   erswaer rwerew rwerwer <br> aedfadf asdfsadf</p>
                    </div>
                    <div class="buttons">
                        <input type="button" class="greenButton"  value="Save Trip">
                        <input type="button" class="greenButton"  value="Remove Trip">
                    </div>
                </div>
                <div class="options">
                    <a class="optionsButton" href="blogPost.html">
                        <div class="plus icon"></div>
                            <span class="iconSpan">add lodging info</span> 
                    </a>
                    <a class="optionsButton" href="blogPost.html">
                        <div class="plus icon"></div>
                            <span class="iconSpan">add packing list</span> 
                    </a>
                </div>
                <div class="weather">
                    <span>Paris, France is 220 days away</span>
                    <br><br>
                    <span>Tipical weather for then is:</span>
                    <br>
                    <span class="smallText">High - 46 , low - 23 </span>
                    <br>
                    <span class="smallText">Mostly cloudy throughout the day</span>
                </div>
            </div>

        </template>
    </body>
    <script>
        // Check that service workers are supported
        // if ('serviceWorker' in navigator) {
        //     // Use the window load event to keep the page load performant
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }
       </script>
</html>


