.footerOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap:3px;
    align-items: center;
    padding: 20px;
}

// .grid-container {
  
//   }
  .grid-item {
    padding: 2px;
  }