.footerOptions {
    display: grid;
    grid-template-columns: auto auto;
    gap:3px;
    align-items: center;
    padding: 20px;
    // width: 70%;
}

// .grid-container {
  
//   }
  .grid-item {
    padding: 2px;
    display: flex;
    flex-flow: row;
    gap: 10px;
    align-items: center;
  }




  