header {
    display: flex;
    justify-content: end;
    padding: 10px 40px;
    text-align: center;
}

.logoBox {
    width: 20%;
    min-height: 1vh;
    margin-top: 7px;
}

.tittle {
    font-size: 28px;
    color: #2d292a;
    font-weight: 700;
    font-family: cursive;
    // margin-top: 20px;
}