header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    text-align: center;
}

.logoBox {
    width: 20%;
    min-height: 1vh;
    margin-top: 7px;
}

.tittle {
    font-size: 26px;
    color: #b71c39;
    font-weight: 900;
    font-family: arial;
    margin-top: 20px;
}